<style>
.closebtn {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
      {{ message }}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger">
  {{error}}
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
{% endif %}

{% if msg %}
  <div class="alert alert-success">
  {{msg}}
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
{% endif %}






