<nav class="navbar navbar-default ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Jr. Jarvis</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/" >Home</a></li>
            {% if session.logged_in %}
            <li><a href="/chat">Chat</a></li>
            <li><a href="/chatlog">Chatlog</a></li>
            <li><a href="/childdetail">Childdetail</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Games
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/g_circuit">circuit</a></li>
                <li><a href="/g_poll">8 Ball Pool</a></li>
                <li><a href="/g_bloxorz">bloxorz</a></li>
              </ul>
            </li>
            {% endif %}
            <li><a href="/about">About</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
              <!--<li><a href="/dashboard">Dashboard</a></li>-->
              <li><a href="/logout" onclick="clearHistory()"><span class="glyphicon glyphicon-log-out"> Logout</a></li>
            {% else %}
              <li><a href="/register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> 
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<script type="text/javascript">
  function clearHistory(){
    localStorage.history = '';
  }
</script>
