{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>About Us</h1>
		<p>The Smart toy(aka Jr. Jarvis ) is a internet connected educational toy which can communicatewith the user through a chat session or through the audio feature provided.As the world is moving into the digital generation, we expect children’s to be updated accord-ingly.  This smart toy provides answers to almost all the questions asked by the child.  Whilethere are other educational bots available that provide answers which are either pre-processedor directly internet fetched. Where as our toy provides age appropriate answers, made easy forthe child’s understanding.Along with the tons of educational information, this toy is loaded with fun features like, jokes,facts, games, which can improve child’s creativity and enhance their imaginations.This is how the child will grow and learn with the toy.</p>
	</div>
{% endblock %}
