{% extends 'layout.html' %}
{% block body %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/huskycss.css') }}">

<style>
  .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
  .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
  .speech img {float: right; width: 40px }

        .chat{
        border: 1px #3D3837;
        /*background-image:url("static/kindergarten.jpg");*/
        border-radius:6px;
        padding: 4px;
        margin: 5px 0;
		    margin-top:0;
        height:560px;   

       
        }
        .chatlog{
        height:450px;
		    padding:3px;
        overflow-x: hidden;
        overflow-y: scroll;
       
      
		   }
      
      .chatlog::-webkit-scrollbar{
        width:10px;

        
      }
      .logbox{
      	display: table;
      	width: 100%;

      }

      .chatlog::-webkit-scrollbar-thumb{
        border-radius: 5px;
        background: rgba(0,0,0,.2)
        
      }
      .chat-form{
        display:flex;    
  		align-items:flex-start;
      }
      .chat-form textarea{
        height: 55px;
        width:80%;
        
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 5px;
        overflow-x: hidden;
        overflow-y: scroll;

      }

      .chat-form textarea::-webkit-scrollbar{
        width:8px;

        
      }

      .chat-form textarea::-webkit-scrollbar-thumb{
        border-radius: 4px;
        background: rgba(0,0,0,.3)
        
      }
     
      
    .logcontainer {
      border: 2px solid #dedede;
      background-color: #f1f1f1;
      border-radius: 5px;
      padding: 3px;
      margin: 5px 0;
      max-width: 80%;
      display: table;
      float:left;

	     
    }

    .child {
      border-color: #ccc;
      background-color: #ddd;
      text-align: right;
      float:right;

    }


    .logcontainer::after {
      content: "";
      clear: both;
      display: table;
    }

    

    .time {
      float: right;
      color: #aaa;
    }
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 25px;
	  height: 11px;
	  display: flex;
	  float:right;
	}

	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 8px;
	  width: 8px;
	  left: 2px;
	  bottom: 2px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(13px);
	  -ms-transform: translateX(13px);
	  transform: translateX(13px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 50px;
	}

	.slider.round:before {
	  border-radius: 50%;
	} 



</style>

<div class="col-sm-4 chat" >   
    <h3 style="margin-bottom:0;margin-left:8px;margin-top: 2px;">Chat
    <label class=" switch">
    	<h6><i><b style="float:top">Audio</b></i></h6>
		<input type="checkbox" checked>
		<span class="slider round"></span>
	</label> 
	</h3>
    <hr style="margin:1px">
	<div class="chatlog" > 
	<!-- chat comes hear -->
	</div>
    <hr style="margin:1px">
    <div class="chat-form" >
      <textarea id = 'textmsg' name = 'q' placeholder="Enter Message"></textarea>
      <img onclick="startDictation()" src={{url_for('static', filename="cHidSVu.gif")}} />

      <button id = 'sendbtn' style="width: 14%;margin: 3px;border-radius: 3px">
      <span class="glyphicon glyphicon-send" style="font-size:25px;"></span>
      send</button>
      
      <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
      <!-- <input onclick="responsiveVoice.speak('This is the text you want to speak');" type='button' value='🔊 Play' /> -->

    </div>
   

</div>
<div class ="col-sm-8 ChildrenHusk">
<div class="husky">
  <div class="mane">
    <div class="coat"></div>
  </div>
  <div class="body">
    <div class="head">
      <div class="ear"></div>
      <div class="ear"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="eye"></div>
        <div class="nose"></div>
        <div class="mouth">
          <div class="lips"></div>
          <div class="tongue"></div>
        </div>
      </div>
    </div>
    <div class="torso"></div>
  </div>
  <div class="legs">
    <div class="front-legs">
      <div class="leg"></div>
      <div class="leg"></div>
    </div>
    <div class="hind-leg">
    </div>
  </div>
  <div class="tail">
    <div class="tail">
      <div class="tail">
        <div class="tail">
          <div class="tail">
            <div class="tail">
              <div class="tail"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none">
  <defs>

    
    <filter id="squiggly-0">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="0"/>
      <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="2" />
    </filter>
    <filter id="squiggly-1">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="1"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="3" />
    </filter>
    
    <filter id="squiggly-2">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="2"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="2" />
    </filter>
    <filter id="squiggly-3">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="3"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="3" />
    </filter>
    
    <filter id="squiggly-4">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="4"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="1" />
    </filter>
  </defs> 
</svg>
</div>

<script src='https://unpkg.com/@reactivex/rxjs@5.0.0-rc.1/dist/global/Rx.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/rxjs-dom/7.0.3/rx.dom.min.js'></script>
<script src='https://unpkg.com/rxcss@0.9.0/dist/rxcss.min.js'></script>
<script  src = "{{ url_for('static', filename = 'js/huskyjs.js') }}"></script>

<script>
  function startDictation() {

    if (window.hasOwnProperty('webkitSpeechRecognition')) {

      var recognition = new webkitSpeechRecognition();

      recognition.continuous = false;
      recognition.interimResults = false;
      recognition.lang = "hi-IN";
      recognition.gender = 'f'
      recognition.start();

      recognition.onresult = function(e) {
        document.getElementById('textmsg').value = e.results[0][0].transcript;

        recognition.stop();
        <!-- document.getElementById('labnol').submit();-->
      };

      recognition.onerror = function(e) {
        recognition.stop();
      }

    }
  }
</script>

<script type="text/javascript" src = "{{ url_for('static', filename = 'js/chat1.js') }}"></script>

{% endblock %}
