<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jr. Jarvis</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
    <style >
    /*footer {
      background-color: #555;
      color: white;
      padding: 15px;

    }*/
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


    
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script> 

  </head>
  <body style="background-color: #4F8EDB;">
    {% include 'includes/_navbar.html' %}
    <div>
    <div class="container" >
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>
    </div>

    <!-- <div>
    <footer class="container-fluid text-center">
      <p>Footer Text</p>
    </footer>
    </div> -->
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- side menu permenent -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    
  </body>
</html>
